<div class={{s.controls}}>
    <div class={{s.row}}>
        <a href="/404">Изменить данные</a>
    </div>
    <div class={{s.row}}>
        <a href="/500">Изменить пароль</a>
    </div>
    <div class={{s.row}}>
        <a class={{s.logout}} href="/">Выйти</a>
    </div>
</div>