<main class={{s.main}}>
    <div class={{s.wrapper}}>
        <div class={{s.error}}>{{errorCode}}</div>
        <p class={{s.description}}>{{errorDescription}}</p>
        <a href="/">Назад к чатам</a>
    </div>
</main>