<li>
    <a class={{chatListRowStyles.wrapper}} href="#">
        <div class={{chatListRowStyles.avatar}}>
        </div>
        <div class={{chatListRowStyles.data}}>
            <div class={{chatListRowStyles.name}}>Андрей</div>
            <p class={{chatListRowStyles.text}}>Друзья, у меня для вас особенный выпуск новостей! для вас особенный выпуск новостей</p>
        </div>
        <div class={{chatListRowStyles.service}}>
            <div class={{chatListRowStyles.time}}>15:12</div>
            <div class={{chatListRowStyles.counter}}>4</div>
        </div>
    </a>
</li>
