<li class={{chatListRowStyles.row}}>
    <div class={{chatListRowStyles.wrapper}}>
    <a class={{chatListRowStyles.link}} href="#">
        <div class={{chatListRowStyles.avatar}}>
        </div>
        <div class={{chatListRowStyles.data}}>
            <div class={{chatListRowStyles.name}}>Андрей</div>
            <p class={{chatListRowStyles.text}}>Друзья, у меня для вас особенный выпуск новостей! для вас особенный выпуск новостей</p>
        </div>
        <div class={{chatListRowStyles.service}}>
            <time class={{chatListRowStyles.time}}>15:12</time>
            <div class={{chatListRowStyles.counter}}>4</div>
        </div>
    </a>
    </div>
</li>
